body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jumbotron {
  background-color: navy;
  border-bottom: solid 4px red;
  
}

.container {
  height: 50px;
}

form {
  margin-left: 40%;
  margin-bottom: 3%;
}

.wrapper {
  margin-left: 5%;
  margin-right: 5%;

}